body {
	background-color: #FAFAFA;
	margin-top: 60px;
	font-family: 'Cabin', sans-serif;
}
div.frame {
	height: 24px;
	-webkit-transition: background-color 200ms linear;
}
a {
	color: #006D6A;
}
p {
	line-height: 1.4em;
	margin-bottom: 18px;
}

.nav-right{
	float: right;
	color: #818488;
	padding-top: 28px;
	padding-right: 25px;
	text-decoration: none;
	font-size: 15px;
}
div#holder {
	width: 640px;
	margin: 0 auto;
}

div#chart_holder {
	width: 640px;
	margin: 0 auto;
	margin-top: 159px;
}
div#container {
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	width: 610px;
	float: left;
   
}
#photo_containner{
	margin-top: 110px;
}

div#container *:first-child {
	margin-top: 0;
}
div#container h1 {
	font-weight: 200;
	text-align: center;
	color: #006D6A;
}

a:hover {
	color: #6DBFB3;
}

#left{
	float: left;
	padding-left: 0px;
	margin: 30px 0 30px -80px;
}
#button_bar a {
 	text-decoration: none;
 	font-size: 13px;
}

.button1{
	border-radius: 5px;
	background: rgba(0,0,0,0);
	border: 2px solid #818488;
	padding: 5px 16px;
	color: #818488;
	margin-top:0px;
}
.button1:hover, .button1:focus {
	background: #A5A7AA;
	color: #fff;
	text-decoration: none;
}
/*nav bar*/
header {
	position: fixed;
	width: 100%;
	background: white;
	display: block;
	top: 0;
	z-index: 8;
	height: 17px;
	padding-bottom: 50px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
} 

h5#logo {
	color: #006D6A;
	font-size: 28px;
	font-weight: 300;
	margin: 0 !important;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	float: left;
	padding-top: 8px;
	padding-left: 15px;
	font-family: 'Pacifico', cursive;
}

h5#logo a {
	text-decoration: none;
}
header * {
	background-repeat: no-repeat;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*nav bar end*/

div#footer p {
	text-align: center;
	font-size: 13px;
}
div#footer p a {
	color: #006D6A;
	text-decoration: none;
}
div#footer p a:hover {
	color: #6DBFB3;
}
ul#photoInfo {
	list-style-type: none;
}
ul#photoInfo li {
	margin-bottom: 6px;
}
span.label {
	color: #a7a7a7;
}
li.likes {
	color: #C60008;
}
div#userInfo {
	text-align: center;
	padding-top: 20px;
}
div#userInfo h2 {
	font-weight: 200;
	margin-top: 12px;
}
div#userInfo img {
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
a.photoLink {
	text-decoration: none;
}
a.photoLink img.emoticon {
	visibility: hidden;
	float: left;
	margin: 0;
	padding: 3px;
}
a.photoLink p.info {
	visibility: hidden;
	color: white;
	font-size: 12px;
	text-align: right;
	margin: 0;
	padding: 4px 4px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
a.photoLink:hover p.info {
	visibility: visible;
}
div#button_bar {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	font-size: 13px;
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 20px;
}
div#button_bar p {
	margin-bottom: 10px;
}
div#button_bar a {
	text-decoration: none;
}
div#button_bar a:hover {
	text-decoration: underline;
}
div#sidebar {
	background-color: #FAFAFA;
	padding: 12px;
	width: 200px;
	float: left;
	margin-left: 20px;
	margin-right: -400px;
	font-size: 13px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	visibility: hidden;
}
div#sidebar p {
	margin-top: 0;
	margin-bottom: 0;
}
div#sidebar ul li p {
	margin: 0;
}
.clearFix {
	clear: both;
}
