body {
	background-color: #EBE5DA;
	margin-top: 60px;
	font-family: -webkit-system-font, Helvetica, Arial, sans-serif;
}
div.frame {
	height: 24px;
	-webkit-transition: background-color 200ms linear;
}
p {
	line-height: 1.4em;
	margin-bottom: 18px;
}
div#container {
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
div#container *:first-child {
	margin-top: 0;
}
div#container h1 {
	font-weight: 200;
	text-align: center;
	color: #76533D;
}
a.button {
	color: #76533D;
	border: 1px solid #76533D;
	padding: 6px 10px;
	border-radius: 8px;
	text-decoration: none;
	background-color: #E6DFD1;
}
a:hover {
	color: black;
}
div#footer p {
	text-align: center;
	font-size: 13px;
}
div#footer p a {
	color: #76533D;
	text-decoration: none;
}
div#footer p a:hover {
	text-decoration: underline;
}
ul#photoInfo {
	list-style-type: none;
}
ul#photoInfo li {
	margin-bottom: 6px;
}
span.label {
	color: #a7a7a7;
}
li.likes {
	color: #C60008;
}
div#userInfo {
	text-align: center;
}
div#userInfo h2 {
	font-weight: 200;
	margin-top: 12px;
}
div#userInfo img {
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
a.photoLink {
	text-decoration: none;
}
a.photoLink p {
	visibility: hidden;
	color: white;
	font-size: 12px;
	text-align: right;
	margin-right: 6px;
	padding-top: 4px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
a.photoLink:hover p {
	visibility: visible;
}
