<!doctype html>
<html>
<head>
	<title>Welcome to Instagram Mine</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>

<body>
	<div id="holder">
		<div id="container">
			<div style="margin: 16px">
				<h1>Instagram Mine</h1>
				<p>Welcome! Instagram Mine helps you relate your Instagram photos to emotions, locations, and people.</p>
				<p>To get started, sign in with Instagram.</p>
				<a class="button1" href="{{ auth_url }}">Sign in</a>
			</div>
		</div>
		
		<div class="clearFix"></div>
	</div>
</body>
</html>
