<!doctype html>
<html>
<head>
	<title>Details</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Cabin|Pacifico' rel='stylesheet' type='text/css' />
	
	<script type="text/javascript">
		var ident = "{{ photo.identifier }}";
		var thumbnailURL = "{{ photo.standard_resolution_url }}";
		//alert(ident+"+and+"+thumbnailURL);
		var request = new XMLHttpRequest();
		request.addEventListener("load", function() {
			var response = JSON.parse(this.responseText);
			var label = response.label;
			document.getElementById("faceSentimentValue").innerText = "";
			var sentimentImage = document.getElementById("sentimentImage");
			sentimentImage.style.visibility = "visible";
			sentimentImage.src = "/static/images/" + label;
		});
		request.open("GET", "/analyzeFaceSentiment?id=" + ident + "&url=" + encodeURIComponent(thumbnailURL));
		request.send();
	</script>
</head>

<body onload="loaded()">
	<header>
		<h5 id="logo"><a href="/stream/self"> Instagram Mine</a></h5>
		<a class ="nav-right" href="/chart/self">Emotion Analysis</a>
		<a class ="nav-right" href="/stream/self">Color Timeline</a>

		<nav>
			<div class="nav-background"></div>
		</nav>
	</header>
	
	<div id="holder">		
		<div id ="photo_containner" id="container">
			<img src="{{ photo.standard_resolution_url }}" width="610" height="610" />
		
			<ul id="photoInfo">
				{% if photo.likes > 0 %}
				<li class="likes">{{ photo.likes }} &hearts;</li>
				{% endif %}
			
				{% if photo.caption is not none %}
				<li><span class="label">Caption:</span> {{ photo.caption }}</li>
				{% endif %}
			
				<li><span class="label">Filter:</span> {{ photo.filter }}</li>
			
				<li><span class="label">Sentiment:</span> <span id="faceSentimentValue">Analyzing...</span><img style="visibility: hidden" id="sentimentImage" width="20" height="20"></img></li>
			
				{% if photo.location is not none %}
				<li><span class="label">Location:</span> {{ photo.location }}</li>
				{% endif %}
			
				<li><span class="label">Creation Date:</span> {{ photo.creation_date.strftime('%m/%d/%Y') }}</li>
			</div>
		</div>
		
		<div class="clearFix"></div>
	</div>
	
	<div id="footer">
		<p><a href="/signOut">Sign Out</a></p>
	</div>
</body>
</html>
