<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
	<script type="text/javascript">
		var ident = "{{ photo.identifier }}";
		var thumbnailURL = "{{ photo.standard_resolution_url }}";

		var request = new XMLHttpRequest();
		request.addEventListener("load", function() {
			var response = JSON.parse(this.responseText);
			var label = response.label;
			document.getElementById("faceSentimentValue").innerText = label;
		});
		request.open("GET", "/analyzeFaceSentiment?id=" + ident + "&url=" + encodeURIComponent(thumbnailURL));
		request.send();
	</script>
</head>

<body onload="loaded()">
	<div id="holder">
		<div id="container">
			<img src="{{ photo.standard_resolution_url }}" />
		
			<ul id="photoInfo">
				{% if photo.likes > 0 %}
				<li class="likes">{{ photo.likes }} &hearts;</li>
				{% endif %}
			
				{% if photo.caption is not none %}
				<li><span class="label">Caption:</span> {{ photo.caption }}</li>
				{% endif %}
			
				<li><span class="label">Filter:</span> {{ photo.filter }}</li>
			
				<li><span class="label">Facial Sentiment:</span> <span id="faceSentimentValue">Analyzing...</span></li>
			
				{% if photo.location is not none %}
				<li><span class="label">Location:</span> {{ photo.location }}</li>
				{% endif %}
			
				<li><span class="label">Creation Date:</span> {{ photo.creation_date.strftime('%m/%d/%Y') }}</li>
			</div>
		</div>
		
		<div class="clearFix"></div>
	</div>
	
	<div id="footer">
		<p><a href="/signOut">Sign Out</a></p>
	</div>
</body>
</html>
