<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
	
	<script type="text/javascript">
		function pageLoaded() {
			var elements = document.getElementsByClassName("frame");
			for (var i = 0; i < elements.length; i++) {
				var element = elements[i];
				var ident = element.id;
				var thumbnailURL = element.getAttribute("data-thumbnailURL");
				
				var request = new XMLHttpRequest();
				request.addEventListener("load", function() {
					var response = JSON.parse(this.responseText);
					var color = response.color;
					document.getElementById(response.identifier).style.backgroundColor = color;
				});
				request.open("GET", "/analyzeColor?id=" + ident + "&url=" + encodeURIComponent(thumbnailURL));
				request.send();
			}
		}
		
		function toggleSidebar() {
			var sidebar = document.getElementById("sidebar");
			var sidebarAnchor = document.getElementById("sidebarAnchor");
			if (sidebar.style.visibility == "visible") {
				sidebar.style.visibility = "hidden";
				sidebarAnchor.innerText = "Show Filter >";
			} else {
				sidebar.style.visibility = "visible";
				sidebarAnchor.innerText = "Hide Filters >";
			}
		}
	</script>
</head>

<body onload="pageLoaded()">
	<div id="header">
		<p><a id="sidebarAnchor" href="javascript:toggleSidebar()">Show Filters &gt;</a></p>
	</div>
	
	<div id="holder">
		<div id="container">
			<div id="userInfo">
				<img src="{{ user.profile_picture_link }}" width="64" height="64" />
				<h2>{{ user.name }}</h2>
			</div>
		
			{% for photo in photos %}
			<a class="photoLink" href="/photo/{{ photo.identifier }}">
				<div id="{{ photo.identifier }}" data-thumbnailURL="{{ photo.thumbnail_url }}" class="frame">
					<p>{{ photo.creation_date.strftime('%m/%d/%Y %I:%M %p') }}</p>
				</div>
			</a>
			{% endfor %}
		</div>
	
		<div id="sidebar">
			<p>Filter by Filter:</p>
			<ul>
				{% for filter in top_filters %}
				<li><p><a href="/stream/self?filter={{ filter.name }}">{{ filter.name }}</a></p></li>
				{% endfor %}
			</ul>
			<p>Filter by Emoji:</p>
			<ul>
				{% for emoji in top_emoji %}
				<li><p><a href="/stream/self?emoji={{ emoji.content }}">{{ emoji.content }}</a></p></li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="clearFix"></div>
	</div>
	
	<div id="footer">
		<p><a href="/signOut">Sign Out</a></p>
	</div>
</body>
</html>
