<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />

	<script type="text/javascript">
		function pageLoaded() {
			var elements = document.getElementsByClassName("frame");
			for (var i = 0; i < elements.length; i++) {
				var element = elements[i];
				var ident = element.id;
				var thumbnailURL = element.getAttribute("data-thumbnailURL");

				var request = new XMLHttpRequest();
				request.addEventListener("load", function() {
					var response = JSON.parse(this.responseText);
					var color = response.color;
					document.getElementById(response.identifier).style.backgroundColor = color;
				});
				request.open("GET", "/analyzeColor?id=" + ident + "&url=" + encodeURIComponent(thumbnailURL));
				request.send();
                
                var request2 = new XMLHttpRequest();
				request2.addEventListener("load", function() {
					var response = JSON.parse(this.responseText);
					var label = response.label;
                    if (label != "Unknown") {
                        var emojiLabel = document.getElementById(response.identifier).getElementsByClassName("emoji")[0];
                        emojiLabel.innerText = label;
                    }
				});
				request2.open("GET", "/analyzeFaceSentiment?id=" + ident + "&url=" + encodeURIComponent(thumbnailURL));
				request2.send();
			}
		}

		function toggleSidebar() {
			var sidebar = document.getElementById("sidebar");
			var sidebarAnchor = document.getElementById("sidebarAnchor");
			if (sidebar.style.visibility == "visible") {
				sidebar.style.visibility = "hidden";
				sidebarAnchor.innerText = "Show Filter >";
			} else {
				sidebar.style.visibility = "visible";
				sidebarAnchor.innerText = "Hide Filters >";
			}
		}
    </script>



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
		  
        var pieChartDiv = document.getElementById('piechart');

		if (pieChartDiv == null) {
            console.log("The div holding the pie chart is not in the DOM");
            return;
        }

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Number'],
          ['Like',     11],
          ['Non-Like',      2]
        ]);

        var options = {
          title: 'Like vs Non Like'
        };

        var chart = new google.visualization.PieChart(pieChartDiv);

        chart.draw(data, options);
      }
    </script>
</head>

<body onload="pageLoaded()">
	<div id="header">
		<p><a id="sidebarAnchor" href="javascript:toggleSidebar()">Show Filters &gt;</a></p>
	</div>

	<div id="holder">
		<div id="container">
			<div id="userInfo">
				<img src="{{ user.profile_picture_link }}" width="64" height="64" />
				<h2>{{ user.name }}</h2>
			</div>

			{% for photo in photos %}
			<a class="photoLink" href="/photo/{{ photo.identifier }}">
				<div id="{{ photo.identifier }}" data-thumbnailURL="{{ photo.thumbnail_url }}" class="frame">
                    <p class="emoji"></p>
					<p class="info">{{ photo.likes }} &hearts; &nbsp; {{ photo.creation_date.strftime('%m/%d/%Y %I:%M %p') }}</p>
				</div>
			</a>
			{% endfor %}
		</div>

		<div id="sidebar">
			<p>Filter by Filter:</p>
			<ul>
				{% for filter in top_filters %}
				<li><p><a href="/stream/self?filter={{ filter.name }}">{{ filter.name }}</a></p></li>
				{% endfor %}
			</ul>
			<p>Filter by Emoji:</p>
			<ul>
				{% for emoji in top_emoji %}
				<li><p><a href="/stream/self?emoji={{ emoji.content }}">{{ emoji.content }}</a></p></li>
				{% endfor %}
			</ul>
		</div>
		<div class="clearFix"></div>
	</div>
<!-- Save it for later prob.
	<div id="piechart" ></div>
-->

	<div id="footer">
		<p><a href="/signOut">Sign Out</a></p>
	</div>
</body>
</html>
