<!doctype html>
<html>
<head>
	<title>Welcome to Instagram Mine</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>

<body>
	<div id="holder">
		<div id="container">
			<div style="margin: 16px">
				<h1>Instagram Mine</h1>
				<p>In Sandbox mode, only the timeline of the logged-in user can be viewed. This is a limitation of the Instagram API.</p>
				<p><a class="button1" href="/stream/self">View my feed</a></p>
			</div>
		</div>
		
		<div class="clearFix"></div>
	</div>
	
	<div id="footer">
		<p><a href="/signOut">Sign Out</a></p>
	</div>
</body>
</html>
